<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>-----------------------</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/d3Style.css') }}">
</head>
<body>
    <!-- <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h1>---test Flask with js---------</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div id="chart">
                </div>
             </div>
            <div class="col-xs-12 col-md-6">
                <div id="scatter">
                </div>
             </div> -->
<!--
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="article">
                  <h2> </h2>
                  <p>bar chart displays total contributions of top 15 of Charities (all of them  overall scores are 100 points)</p>
                </div>
            </div>
        </div>
    </div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Charity Top 15 Dashboard</h1>
        <p>Use the interactive charts below to show data in each category </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="well">
          <h5>Select Category:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <!-- <h3 class="panel-title">Demographic Info</h3> -->
          </div>
          <div id="sample-metadata" class="panel-body"></div>
        </div>
      </div>
      <div class="col-md-7">
        <div id="chart"></div>
      </div>
      <!-- <div class="col-md-2">
        <div id="gauge"></div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>
    <div id="footer">
        <p>The Coding Boot Camp&copy;2016</p>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script type="text/javascript" src="./static/js/app.js"></script> -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/scatter.js') }}"></script> -->
    <!-- <script type="text/javascript" src="assets/js/app.js"></script> -->
</body>
</html>
